@media (orientation: landscape) {
  /* для теста */
  .title {
    color: orange;
  }

  .trend {
    height: 760px;
  } 

  .trend-blocks {
    flex-wrap: wrap;
  }

  .trend-block-item {  
    width: calc(50% - 4px);
  }

  .trend-block-item-1-line:after{
    width: calc(50% - 4px);
    height: 320px;   
    top: 571px;
  } 

  .trend-block-item-2-line:after{
    width: calc(50% - 4px);
    height: 320px;   
    top: 895px;
  } 
}

@media (orientation: portrait) {
  /* для теста */
  .title {
    color: yellow;
  }

  .trend {
    height: 1412px;
  } 

  .trend-blocks {
    flex-wrap: wrap;
  }
  .trend-block-item {  
    width: calc(100% - 4px);
  }  

  .trend-block-item-1:after{
    width: calc(100% - 4px);
    height: 320px;   
    top: 914px;
  } 
  
  .trend-block-item-2:after{
    width: calc(100% - 4px);
    height: 320px;   
    top: 1238px;
  } 

  .trend-block-item-3:after{
    width: calc(100% - 4px);   
    height: 320px;   
    top: 1562px;
  } 
  
  .trend-block-item-4:after{
    width: calc(100% - 4px);  
    height: 320px;   
    top: 1886px;
  } 
}

/*************** Верхняя часть страницы ***************/
.header{
  height: 639px;
  background-image: url("../images/banner-mobile.jpg");
}

.logo-a {
  display: none;
  margin-left: 5vw;
  margin-right: 5vw;
}

.logo-and-nav{
  flex-direction: row-reverse;
}

.logo-and-nav {
  width: 90vw;
}

.logo-a-mobile {
  width: 72vw;
  margin-top: 204px;
}

.title {
  width: 77vw;
  margin-top: 42px;
  font-size: 26px;
}

.trend {
  margin-bottom: 44px;
}




/*************** Основная часть страницы ***************/
.pre-main {
  flex-direction: column;
  width: 90vw;
  margin: 49px 5vw 43px;
}

.main {
  width: 100%;  
}

.articl-title {
  margin-bottom: 21px;
}

.excerpt {
  margin-top: 20px;
}

/*************** Правая часть страницы ***************/

.aside {
  min-width: 100%;
  margin-left: 0;
}

.aside-title {
  margin-bottom: 21px;
}

.form-search {
  margin: 59px auto 44px 0px;
}

.form-submit {
  margin-bottom: 43px;
}

.teg-box {
  margin-bottom: 43px;
}
/*************** Наши изделия/продукт ***************/


.products {
  height: 1692px;
  width: 90vw;
  margin-bottom: 42px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.product-block {
  flex-wrap: wrap;
  width: 90vw;  
  gap: 26px;
}

.product-item {
  width: 90vw;
  height: 523px;
}

.product-item-border { 
  margin-top: 256px;
}

.product-item-img1{
  background-image: url("../images/shop-item-mobile1.jpg");  
}

.product-item-img2{
  background-image: url("../images/shop-item-mobile2.jpg"); 
}

.product-item-img3{
  background-image: url("../images/shop-item-mobile3.jpg"); 
}

/*************** Подвал страницы ***************/
.address {
  width: 100%;
}
