
@media (orientation: landscape) {
  /* для теста */
  .title {
    color: blue;
  }
  
  .trend-block-item:after{
    top: 567px;
  } 
}

@media (orientation: portrait) {
  /* для теста */
  .title {
    color: red;
  }

  .trend {
    height: 760px;
  } 

  .trend-blocks {
    flex-wrap: wrap;
  }

  .trend-block-item {  
    width: calc(50% - 4px);
  }

  .trend-block-item-1-line:after{
    width: calc(50% - 4px);
    height: 320px; 
    top: 567px;  
   
  } 

  .trend-block-item-2-line:after{
    width: calc(50% - 4px);
    height: 320px;   
    top: 892px;
  } 
}

@media (max-width: 690px) {
  .trend-block-item-1-line:after{
    top: 634px;
  } 

  .trend-block-item-2-line:after{
    top: 959px;
  } 
}
/*************** Верхняя часть страницы ***************/
.header{
  background-image: url("../images/banner-bg-tablet.jpg");
}

.logo {
  width: 158px;
}

.title {
  width: 78vw;
  font-size: 40px;
}

.nav-list {
  display: none;
}

.logo-and-nav {
  z-index: 0;
  display: flex;
  justify-content: space-between;

  width: 609px;
}

.menu__button {

  background-color: transparent;
  cursor: pointer;
}

.menu__button-label {    
  display: block;
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Transformed by: SVG Repo Mixer Tools --%3E%3Csvg width='201px' height='201px' viewBox='-2.4 -2.4 28.80 28.80' fill='none' xmlns='http://www.w3.org/2000/svg' stroke='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'/%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round' stroke='%23CCCCCC' stroke-width='0.336'/%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M4 6H20M4 12H20M4 18H20' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
}

/*************** Основная часть страницы ***************/
.pre-main {
  width: 572px;
  margin: 49px auto 7px;
}

/*************** Левая часть, основная ***************/

.main {
  width: 300px;  
  margin-left: 0;
}

.articl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 60px;
}

.img-news {
 /* width: 390px;*/
  width: 100%;
  margin-right: 0;
  background-color: #b59f5b;
}

.text-news {
  margin-top: 13px;
}
/*************** Правая часть страницы ***************/

.aside {
  min-width: 272px;
  margin-left: 4.4vw;
  margin-right: 0;
}
/*************** Наши изделия/продукт ***************/
.products {
  height: 1005px;
  width: 90vw;  

  margin-bottom: 50px;  
  margin-left: 5vw;
  margin-right: 5vw;
}

.product-block {
  flex-wrap: wrap;
  width: 90vw;
  gap: 21px;
}

.product-item {
  width: calc((90vw / 2) - 21px);  
  height: 457px;
}

.product-item-border { 
  margin-top: 192px;
}

.product-item-img1{
  background-image: url("../images/shop-item-tablet1.jpg");  
}

.product-item-img2{
  background-image: url("../images/shop-item-tablet2.jpg"); 
}

.product-item-img3{
  background-image: url("../images/shop-item-tablet3.jpg"); 
}

/*************** Подвал страницы ***************/
.address {
  /*width: 698px;*/
  width: 100vw;
}

.copyright {
  margin-top: 45px;
  margin-bottom: 36px;
}